.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/breakfast.jpg");
  height: 250px;
  width: 250px;
  border-radius: 15px;
  color: white;
  background-size: cover;
}

.card-product {
  display: flex;
  background-color: white;
  height: 200px;
  /* width: 550px; */
  margin-bottom: 25px;
}
